

@font-face {
  font-family: 'Star Jedi';
  font-style: normal;
  font-weight: 400;
  src: url('../Fonts/star-jedi.woff') format('woff');
}


* {
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: black;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
}



#rebelSide .grid{
  background-image: url("../Images/Rebel.png");
  border-radius: 10px;
  border: solid red 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 97%;

}

#impSide .grid{
  background-image: url("../Images/imperialW.jpeg");
  border-radius: 10px;
  border: solid white 5px;
  background-size: 112%;
  background-position: center;
  
}

body {
  background-color: black;
  color:yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../Images/Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

content{
  display: flex;
  flex-direction: column;
  border: double 2px yellow;
  border-radius: 75px;
  margin: 50px;
}

.header{
  text-align: center;
  font-family: 'Star Jedi', arial;
  font-size: 50px;
  /* background-color: black;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px; */
}
#battleship {
  font-family: arial;
}

main{
  display: flex;
  min-height : 600px;
  min-width: 1480;
  background-color: black;

}

section {
  flex: 3;
  margin: auto;
}

#start-button{
  padding: 15px;
  font-size: larger;
  margin: 5px;
}

#center {
  display:flex;
  flex-direction: column;
  align-content: center;
  max-width: 200px;
  min-width: 200px;
}

#impBegin {
  display: none;
  justify-content: center;
  padding: 10px;
  font-size: larger;
  margin: 5px;
}

#rebBegin {
  display: none;
  justify-content: center;
  padding: 10px;
  font-size: larger;
  margin: 5px;
}

#scroller {
  flex: 1;
  text-align: center;
  margin: auto;
  font-family: arial;
  font-size: 25px;
  min-width: 150px;
  margin-bottom: 10px;
  
}

#start-game {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.grid-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-color: white;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  
}

.grid div {
  border: solid rgb(149, 184, 23) 1px;
  flex-grow: 1;
  height: 7.1428%;
  width: 7.1428%;
  text-align: center;
}

.square{
  background-color: 'none';
}

.buttonsBox {
  display: none;
  justify-content: center;
  align-items: center;
}

.ship {
  background-color: blue;
  color: white;
}

.shipCruiser {
  background-image: url('../Images/Cruiser.jpg');
  background-size: cover;
}

.shipTieFighter {
  background-image: url('../Images/TieFighter.png');
  background-size: cover;
}

.shipTieHeavy {
  background-image: url('../Images/TieHeavy.png');
  background-size: cover;
}

.shipTieInterceptor {
  background-image: url('../Images/TieInterceptor.png');
  background-size: cover;
}
.shipTieBomber {
  background-image: url('../Images/TieBomber.png');
  background-size: cover;
}

.shipXwing {
  background-image: url('../Images/XWing.png');
  background-size: cover;
}

.shipAWing{
  background-image: url('../Images/AWing.png');
  background-size: cover;
}

.shipYWing{
  background-image: url('../Images/YWing.jpg');
  background-size: cover;
}

.shipBWing{
  background-image: url('../Images/BWing.png');
  background-size: cover;
}
.shipFalcon{
  background-image: url('../Images/Falcon.png');
  background-size: cover;
}

.hit{
  background-image: url('../Images/rachel-kong-ballfire.gif');
  background-size: contain;
  opacity: 0.5;
  
}

.miss{
  background-image: url('../Images/miss.png');
  background-size: contain;
  opacity: 0.5;
}

#tieSelect{
  background-image: url('../Images/TieFighter.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;

}
#tieHeavy{
  background-image: url('../Images/TieHeavy.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}
#tieInterceptor{
  background-image: url('../Images/TieInterceptor.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}
#tieBomber{
  background-image: url('../Images/TieBomber.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}
#cruiserSelect{
  background-image: url('../Images/Cruiser.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}

#xSelect{
  background-image: url('../Images/XWing.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}
#bSelect{
  background-image: url('../Images/BWing.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}
#aSelect{
  background-image: url('../Images/AWing.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}
#ySelect{
  background-image: url('../Images/YWing.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}
#falconSelect{
  background-image: url('../Images/Falcon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
}


button {
  padding: 30px;
  margin: 5px;
  font-size: inherit;
}

footer{
  text-align: center;
  flex: 1;
  min-height: 90px;
  background-color: black;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
}

#counters {
  display: none;
}

#counters p{
  flex: 1;
  font-size: x-large;
}

.overlay {
  width: 1000px;
  border: solid yellow;
  border-radius: 7px;
  position: fixed;
  background: black;
  visibility: hidden;
  left: 300px;
  bottom: 110px;
  opacity: 0;
  display: none;
  flex-direction: column;
}

#shipShapes {
  display: flex;
  flex-direction: row;
}

#rebelShapes {
  background-color: black;
  border: solid yellow 2px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#imperialShapes {
  background-color: black;
  border: solid yellow 2px;
  border-radius: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shapes {
  display: flex;
  align-items: center;
}

#shapeHeader {
  font-size: x-large;
}