


* {
  box-sizing:border-box;
}

#rebelSide .grid{
  background-image: url("../Images/Rebel.png");

}

#impSide .grid{
  background-image: url("../Images/Imperial.png");

}

body {
  background-color: black;
  color:yellow;
  display: flex;
  
}

content{
  display: flex;
  flex-direction: column;
  border: double 2px yellow;
  border-radius: 75px;
  margin: 50px;
}

header{
  text-align: center;
  font-family: 'Star Jedi', arial;
  font-size: 60px;
  
}

main{
  display: flex;

}

section {
  flex: 3;
  margin: auto;
}

#center {
  display:flex;
  flex-direction: column;
  align-content: center;
}

#begin {
  display: none;
  justify-content: center;
}

#scroller {
  flex: 1;
  text-align: center;
  margin: auto;
  font-family: 'Star Jedi', arial;
  font-size: 25px;
  min-width: 150px;
}

#start-game {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.grid-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  width: 600px;
  background-color: teal;
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
  background-size: cover;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 6.25%;
  width: 6.25%;
  text-align: center;
}

.buttonsBox {
  display: none;
  justify-content: center;
  align-items: center;
}

.ship {
  background-color: blue;
  color: white;
}

.hit{
  background-color: green;
  color: black;
}

.miss{
  background-color: rgb(255, 238, 0);
  color: black;
}


button {
  padding: 10px;
  margin: 5px;
}

footer{
  text-align: center;
  flex: 1;
  padding: 15px;
}